services: 
  mongodb:
    image: mongo:8.0.8
    volumes:
      - ./.volumes/mongodb:/data/db

  app:
    build: 
      context: .
      tags: 
        - myphysiotrainer:1.0.1
    depends_on:
      - mongodb
    restart: on-failure
    ports:
      - "8080:${PORT}"
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      BASE_URL: ${BASE_URL}
      API_URL: ${API_URL}
      SESSION_NAME: ${SESSION_NAME}
      SESSION_SECRET: ${SESSION_SECRET}
      LOG_LEVEL: ${LOG_LEVEL}
      LOGGER_COMBINED_LOG_FILE: ${LOGGER_COMBINED_LOG_FILE}
      LOGGER_ERROR_LOG_FILE: ${LOGGER_ERROR_LOG_FILE}
      LOGGER_UNCAUGHT_EXCEPTION_LOG_FILE: ${LOGGER_UNCAUGHT_EXCEPTION_LOG_FILE}
      DB_CONNECTION_STRING: ${DB_CONNECTION_STRING}


